//background: url('#{$basePath}/banner-img.jpg') no-repeat 0 0 / cover;
.main-banner{
    background-size: cover;
    background-repeat: no-repeat;
    @include  vw-value(height, 580, 13.66);
    position: relative;
    border-radius: 60px;
   .banner-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include  vw-value(padding-top, 0, 13.66);
        @include  vw-value(padding-right, 84, 13.66);
        @include  vw-value(padding-bottom, 0, 13.66);
        @include  vw-value(padding-left, 84, 13.66);
        @include  vw-value(max-width, 785, 13.66);
        height: 100%;
        h1, p{
            color: $color_white;
            @include  vw-value(margin-bottom, 25, 13.66);
        }
        p{
            @include  vw-value(font-size, 18, 13.66);
        }
        .btn{
            @include  vw-value(width, 150, 13.66);
        }
   }
}

.col-two-wrap{
    .txt-wrap{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            @include vw-value(line-height, 50, 19.1);
            @include vw-value(margin-bottom, 20, 19.1);
        }
        ul{
            @include vw-value(padding-left, 16, 19.1);
            li{
                @include vw-value(margin-bottom, 10, 19.1);
            }
        }
    }
    .img-wrap{
        height: 100%;
        img{
            border-radius: 20px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;

        }
    }
}

.col-four-wrap{
    .card{
        background-color: $light_gray;
        border-radius: 20px;
        border: none;
        @include  vw-value(padding, 20, 13.66);
        .img-wrap{
            @include  vw-value(padding-bottom, 20, 13.66);
            img{
                border-radius: 20px;
            }
        }
        .card-body{
            @include  vw-value(padding, 0, 13.66);
            display: flex;
            flex-direction: column;
            h5{
                @include  vw-value(font-size, 18, 13.66);
                @include  vw-value(margin-bottom, 16, 13.66);
            }
            p{
                color: rgba($charcoal, 60%);
            }
        }
    }
}

.our-work-section{
    h2, h5, p{
        color: $color_white;
    }
}

.best-practices-sec{
    .txt-wrap{
        background-color: $light_gray;
        @include  vw-value(padding, 40, 13.66);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .img-wrap{
        img{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.contact-info-wrap{
    .form-wrap{
        input{
            border-radius: 8px;
            @include  vw-value(font-size, 14, 13.66);
        }
        textarea{
            @include  vw-value(height, 115, 13.66);
            @include  vw-value(font-size, 14, 13.66);
        }
    }
    .txt-wrap{
        ul{
            list-style: none;
            @include  vw-value(padding-left, 0, 13.66);
            li{
                display: flex;
                font-weight: 600;
                .icon{
                    @include  vw-value(padding-right, 15, 13.66);
                }
                a{
                    color: $charcoal;
                    text-decoration: none;
                }
            }
        }
    }
}