# ignore everything in the root except the "app" directory.
/*
!app/

# ignore everything in the "app" directory, except:
# "mu-partials", "partials", "themes" directory
app/*
!app/mu-partials/
!app/themes/

# ignore specific themes
app/themes/twenty*/

# ignore node dependency directories
node_modules/
dist/

# ignore log files and databases
*.log
*.sql
*.sqlite

#misc.
*.mp3
*.mp4
*.zip
*.map
.DS_Store