* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden !important;
    scroll-behavior: smooth !important;
}

body {
    background-color: $color_white;
    font-size: 1.04vw;
    line-height: 1.67vw;
    // @extend %roboto-regular;
    font-weight: normal;
    // color: $color_gray;
}


.light-gray-bg{
    background-color: $light_gray;
}

.ocean-blue-txt{
    color: $ocean_blue;
}

.ocean-blue-bg{
    background-color: $ocean_blue;
}

.section-space{
    @include  vw-value(padding-top, 10, 19.2);
    @include  vw-value(padding-right, 0, 19.2);
    @include  vw-value(padding-bottom, 90, 19.2);
    @include  vw-value(padding-left, 0, 19.2);
}

img{
    max-width: 100%;
}

.top-padding{
    @include  vw-value(padding-top, 90, 19.2);
}

.link-txt{
    text-decoration: none;
    font-weight: bold;

    .icon-right {
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        .icon-right {
            transform: translateX(6px);
        }
    }
}

.container {
    max-width: 1280px;
  }