.btn{
    background: $ocean_blue;
    color: $color_white;
    border-radius: 6px;
    text-decoration: none;
    border: 1px solid $ocean_blue;
    @include  vw-value(font-size, 16, 19.2);
    transition: all 0.3s ease;
    &.btn-md{
        @include  vw-value(padding-top, 8, 19.2);
        @include  vw-value(padding-right, 18, 19.2);
        @include  vw-value(padding-bottom, 8, 19.2);
        @include  vw-value(padding-left, 18, 19.2);
    }
    &:hover{
        color: $ocean_blue;
        border: 1px solid $ocean_blue;
    }
}