footer{
   background-color: rgba($ocean_blue, 6%);
   @include  vw-value(padding-bottom, 50, 19.2);
   .logo-wrap{
    p{
        @include  vw-value(margin-top, 16, 19.2);
    }
   }
   h5{
    @include  vw-value(font-size, 24, 19.2);
   }
    ul{
        @include  vw-value(margin-top, 38, 19.2);
        list-style: none;
        padding: 0;
        &.footer-manu{
            li{
                font-weight: 600;
                a{
                    display: block;
                    color: $charcoal;
                    @include  vw-value(padding-bottom, 10, 19.2);
                    text-decoration: none;
                    transition: color 0.3s ease-in-out;

                    &:hover {
                        color: $ocean_blue;
                    }
                }
            }
        }
    }
    .footer-contact-info{
        ul{
            li{
                @include  vw-value(margin-bottom, 10, 19.2);
                font-weight: 600;
                a{
                    color: $charcoal;
                    text-decoration: none;
                }
            }
        }
    }
}