.top-head{
    @include  vw-value(padding, 10, 19.2);
    .contact-side{
        display: flex;
        align-items: center;
        
        a{
            @include  vw-value(margin-top, 0, 19.2);
            @include  vw-value(margin-right, 10, 19.2);
            @include  vw-value(margin-bottom, 0, 19.2);
            @include  vw-value(margin-left, 10, 19.2);
            @include  vw-value(font-size, 14, 19.2);
            text-decoration: none;
            transition: all 0.3s ease;
            &:hover{
                color: $ocean_blue;
            }
        }
        
    }

    .social-link-side{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .icon{
            i{
                @include  vw-value(margin-top, 0, 19.2);
                @include  vw-value(margin-right, 10, 19.2);
                @include  vw-value(margin-bottom, 0, 19.2);
                @include  vw-value(margin-left, 10, 19.2);
                transition: all 0.3s ease;

                &.fa-facebook-f{
                    &:hover{
                        color: #3b5998;
                    }
                }
                &.fa-instagram{
                    &:hover{
                        color: #E4405F;
                    }
                }
                &.fa-pinterest-p{
                    &:hover{
                        color: #c8232c;
                    }
                }
            }
        }
    }
    .icon, a{
        color: $charcoal;
    }
    .icon{
        i{
            @include  vw-value(font-size, 14, 19.2);
        }
    }
}
header{
    @include  vw-value(padding-top, 10, 19.2);
    @include  vw-value(padding-left, 50, 19.2);
    @include  vw-value(padding-right, 50, 19.2);
    .logo-wrap {
        a {
            img {
                @include  vw-value(width, 110, 19.2);
            }
        }
    }
    .topmenu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul{
            &.main-manu{
                display: flex;
                @include  vw-value(margin, 0, 19.2);
                li{
                    list-style: none;
                    @include  vw-value(padding-left, 20, 19.2);
                    @include  vw-value(padding-right, 20, 19.2);
                    transition: all 0.3s ease;
                    a{
                        transition: all 0.3s ease;
                        text-decoration: none;
                        color: $charcoal;
                        @include  vw-value(font-size, 16, 19.2);                        
                        font-weight: bold;
                        display: block;
                    }
                    &:hover{
                        a{
                            color: $ocean_blue;
                        }
                    }
                }
            }
        }
        .search-fliter-wrap{
            @include  vw-value(padding, 10, 19.2);
        }
       .button-wrap{
            @include  vw-value(margin-left, 40, 19.2);
       }

    }
}
